body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  padding-inline: 20px;
  margin: auto;
  max-width: 1024px;
  height: 100%;
}

.header {
  height: 100vh;
  background-image: url(../image/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.description {
  flex-grow: 1;
}

.description__content {
  box-sizing: border-box;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-block: 15px;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* backdrop-filter: blur(2px); */
}

.header__title {
  color: #fff;
  font-size: 23px;
  font-weight: 900;
}

.header__subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.advantages {
  list-style: none;
  color: #fff;
}

.header__right {
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.map {
  border-radius: 5px;
}

.advantages__item {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.advantages__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.advantages__item:nth-child(1)::before {
  margin-left: -3px;
  background-image: url(../images/man.png);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/price.png);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/calendar.png);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../images/car.png);
}

/* #region top-bar */
.top-bar {
  padding-block: 12px;
  backdrop-filter: blur(10px);
}

.top-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.2);
}

.logo__title {
  color: #f3d021;
  font-size: 28px;
  line-height: 28px;
}

.logo__img {
  width: 38px;
  height: 38px;
}

.nav {
  display: none;
  flex-grow: 1;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav__item {
  line-height: 0;
}

.nav__link {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #f3d021;
  transform: scale(1.2);
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s;
}

.top-bar__phone:hover {
  transform: scale(1.2);
}

.top-bar__phone-img {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../image/phone.svg);
  background-size: cover;
}

.top-bar__phone-text {
  display: none;
  text-decoration: none;
  color: #f3d021;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}


/* #endregion */

/* #region burger */

.burger {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../image/burger.svg);
  background-size: cover;
}
/* #endregion */

.menu {
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: all 0.3s;
  transform: translateX(100%);
  pointer-events: none;

  border-radius: 0 0 50% 50%;
  background-color: #c2c2c2;
}

.menu:target {
  opacity: 1;
  z-index: 1;

  transform: translateX(0);
  pointer-events: all;

  border-radius: 0;

  .top-bar {
    backdrop-filter: none;
  }
}

.menu__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.menu__item {

}

.menu__link {
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #f3d021;
  transform: scale(1.2);
}

.menu__link--phone {
  color: #f3d021;
}

.menu__cross {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../image/cross.svg);
  background-size: cover;
  fill: #fff;
}

@media (min-width: 744px) {
  .header__content {
    gap: 0;
  }
  .nav {
    display: block;
  }
  .burger {
    display: none;
  }
  .top-bar__phone-text {
    display: block;
  }
  .description__content {
    flex-direction: row;
  }
  .header__left {
    width: 50%;
  }
  .header__right {
    width: 50%;
    height: 60%;
  }
}
